@model SecurityWeakness.Domain.Entities.Product
@{
    ViewData["Title"] = Model.Name;
}
<div class="row">
    <div class="col-md-3">
        <h3>@Model.Name</h3>
        <div>
            <p><strong>Sku:</strong> @Model.Sku</p>
            <p><strong>Price:</strong> @Model.Price</p>
        </div>
    </div>
    @if (Model.Comments != null)
    {
        <div class="col-md-6">
            <h3>New Comment</h3>
            <form asp-action="AddComment">
                @Html.Hidden("ProductId", Model.Id)
                @Html.Hidden("Sku", Model.Sku)
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <input name="UserEmail" type="text" class="form-control" id="staticEmail2" value="palpatine@deathstar.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Text</label>
                    <textarea name="Text" class="form-control" id="exampleFormControlTextarea1" rows="3">
                        I will destroy this droid using Dark Power!!
                        Ahahahah!!!
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Add</button>
            </form>
            <h3>Comments</h3>
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li><strong>@comment.UserEmail</strong> @comment.Text</li>
                }
            </ul>
        </div>
    }
</div>
